<!DOCTYPE html>
<html>
  <head>
    <title>TeaWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= favicon_link_tag asset_path('logo_only.png') %>
    <script type="text/javascript">
      window.about = "<%= image_url('about.jpg') %>";
      window.centered = "<%= image_url('centered.png') %>";
      window.highFive = "<%= image_url('highFive.png') %>";
      window.header = "<%= image_url('header.jpg') %>";
      window.neverMeet = "<%= image_url('neverMeet.png') %>";
      window.stranger = "<%= image_url('stranger.png') %>";
      window.teatime = "<%= image_url('teatime.jpg') %>";
      window.weird = "<%= image_url('weird.png') %>";
      window.logo = "<%= image_url('main_logo.png') %>"
    </script>
      <meta property="og:title" content="Tea With Strangers" />
     <meta property='og:image' content="<%= image_url('teaWithStrangers.PNG') %>"/>
     <meta property="og:description"
       content="Tea With Strangers is a clone of the meet-up site, Tea With Strangers. It is a full-stack app with a React/Redux frontend and a Ruby on Rails backend meant to help bring people together, who may never meet otherwise. Users are able to host events in their respective cities and others are able to join those events. Everyone comes together to have good conversations over some tea."
     />
     <meta property="og:url"
       content="https://teawithstrangers-pd.herokuapp.com"
     />


  </head>

  <body>
    <%= yield %>
  </body>
</html>
