<!DOCTYPE html>
<html>
  <head>
    <title>TeaWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= favicon_link_tag asset_path('logo_only.png') %>
    <script type="text/javascript">
      window.about = "<%= image_url('about.jpg') %>";
      window.centered = "<%= image_url('centered.png') %>";
      window.highFive = "<%= image_url('highFive.png') %>";
      window.header = "<%= image_url('header.jpg') %>";
      window.neverMeet = "<%= image_url('neverMeet.png') %>";
      window.stranger = "<%= image_url('stranger.png') %>";
      window.teatime = "<%= image_url('teatime.jpg') %>";
      window.weird = "<%= image_url('weird.png') %>";
      window.logo = "<%= image_url('main_logo.png') %>"
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
